<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading" jhiTranslate="mktBackApp.category.home.createOrEditLabel">
        Create or edit a Category
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="mktBackApp.category.name"
            for="field_name"
            [ngbTooltip]="'mktBackApp.category.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="mktBackApp.category.status"
            for="field_status"
            [ngbTooltip]="'mktBackApp.category.help.status' | translate"
            >Status</label
          >
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'mktBackApp.CategoryStatus.null' | translate }}</option>
            <option *ngFor="let categoryStatus of categoryStatusValues" [value]="categoryStatus">
              {{ 'mktBackApp.CategoryStatus.' + categoryStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.parentId" for="field_parentId">Parent Id</label>
          <input type="text" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.grade" for="field_grade">Grade</label>
          <select class="form-control" name="grade" formControlName="grade" id="field_grade" data-cy="grade">
            <option [ngValue]="null">{{ 'mktBackApp.CategoryGrade.null' | translate }}</option>
            <option *ngFor="let categoryGrade of categoryGradeValues" [value]="categoryGrade">
              {{ 'mktBackApp.CategoryGrade.' + categoryGrade | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="mktBackApp.category.createUser"
            for="field_createUser"
            [ngbTooltip]="'mktBackApp.category.help.createUser' | translate"
            >Create User</label
          >
          <input
            type="text"
            class="form-control"
            name="createUser"
            id="field_createUser"
            data-cy="createUser"
            formControlName="createUser"
          />
          <div *ngIf="editForm.get('createUser')!.invalid && (editForm.get('createUser')!.dirty || editForm.get('createUser')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createUser')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.modifyUser" for="field_modifyUser">Modify User</label>
          <input
            type="text"
            class="form-control"
            name="modifyUser"
            id="field_modifyUser"
            data-cy="modifyUser"
            formControlName="modifyUser"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.createDt" for="field_createDt">Create Dt</label>
          <div class="input-group">
            <input
              id="field_createDt"
              data-cy="createDt"
              type="text"
              class="form-control"
              name="createDt"
              ngbDatepicker
              #createDtDp="ngbDatepicker"
              formControlName="createDt"
            />
            <button type="button" class="btn btn-secondary" (click)="createDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('createDt')!.invalid && (editForm.get('createDt')!.dirty || editForm.get('createDt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createDt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.modifyDt" for="field_modifyDt">Modify Dt</label>
          <div class="input-group">
            <input
              id="field_modifyDt"
              data-cy="modifyDt"
              type="text"
              class="form-control"
              name="modifyDt"
              ngbDatepicker
              #modifyDtDp="ngbDatepicker"
              formControlName="modifyDt"
            />
            <button type="button" class="btn btn-secondary" (click)="modifyDtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mktBackApp.category.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
