<div>
  <h2 id="page-heading" data-cy="SpecHeading">
    <span jhiTranslate="mktBackApp.spec.home.title">Specs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mktBackApp.spec.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-spec"
        [routerLink]="['/spec/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mktBackApp.spec.home.createLabel"> Create a new Spec </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="specs?.length === 0">
    <span jhiTranslate="mktBackApp.spec.home.notFound">No Specs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="specs && specs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parentId">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.parentId">Parent Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="grade">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.grade">Grade</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createDt">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.createDt">Create Dt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifyDt">
            <div class="d-flex">
              <span jhiTranslate="mktBackApp.spec.modifyDt">Modify Dt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let spec of specs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/spec', spec.id, 'view']">{{ spec.id }}</a>
          </td>
          <td>{{ spec.name }}</td>
          <td jhiTranslate="{{ 'mktBackApp.CategoryStatus.' + spec.status }}">{{ spec.status }}</td>
          <td>{{ spec.parentId }}</td>
          <td jhiTranslate="{{ 'mktBackApp.CategoryGrade.' + spec.grade }}">{{ spec.grade }}</td>
          <td>{{ spec.createDt | formatMediumDate }}</td>
          <td>{{ spec.modifyDt | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/spec', spec.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/spec', spec.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(spec)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
